
body {
    font-family: "Poppins", serif;
}
.navbar, footer {
    background-color: #b38758;
}
.about-section, .contact-section {
    padding: 60px 0;
    color: #333;
}
.about-section h2, .contact-section h2 {
    color: #b38758;
    font-weight: bold;
}
.map-container {
    height: 400px;
}
footer {
    padding: 20px;
    color: #fff;
}

#imagesn {
    width: 100%; /* Ajustar al tamaño del contenedor */
    height: 300px; /* Define la altura deseada para el contenedor */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 8px; /* Opcional: agrega bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega una sombra para resaltarlo */
    overflow: hidden; /* Asegura que no haya contenido desbordado */
}


@media screen and (max-width: 768px) {
    section{
        padding: 10% !important;
    }
}